@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Fondo */
body {
    background: linear-gradient(to right, #e2e2e2, #90c4b4);    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
/* Encabezado */
h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Descripción */
p {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input de correo */
input {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #54ab8a;
}

/* Botón */
button {
    padding: 12px;
    background-color: #54ab8a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #469775;
}

/* Mensaje */
.message {
    text-align: center;
    font-size: 14px;
    color: #333;
}

.message a {
    color: #54ab8a;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}
